@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-btn {
    margin-top: 48px;
  }

  .hero {
    background-image: var(--rgba), url(../images/hero-bg-desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--rgba), url(../images/hero-bg-desk-x2.jpg);
    }
  }

  .category {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .category-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    width: calc((100% - 24px) / 4);
  }

  .container.small-container {
    max-width: 1200px;
  }

  .category-link {
    display: flex;
  }

  .category-suptext {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }

  .category-text {
    font-weight: 400;
  }

  .main-team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    width: calc((100% - 24px) / 4);
  }

  .team {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .work {
    display: block;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
    width: 168px;
  }
}
