@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero {
    background-image: var(--rgba), url(../images/hero-bg-mob.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--rgba), url(../images/hero-bg-mob-x2.jpg);
    }
  }

  .category-item {
  }

  .hero-title {
  }

  .customers-item {
    width: 190px;
  }
}
