@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-btn-color);
  }

  .modal {
    min-width: 408px;
  }


  /* ---------------- header ----------------- */
  

  .menu-open-btn {
    display: none;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }
  
  
  .header-item {
  }
  
  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color);
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms var(--cubic);
  }
  
  .current {
    color: var(--hover-btn-color);
    position: relative;
  }
  
  .header-link:hover,
  .header-link:focus {
    color: var(--hover-color);
  }
  
  .address {
    display: block;
    gap: 40px;
    align-items: center;
  }
  
  .header-tel,
  .header-mail {
    font-style: normal;
    color: var(--second-color);
    line-height: 1.5;
    font-size: 16px;
    list-style: none;
    transition: color 250ms var(--cubic);
  }
  
  .header-tel:hover,
  .header-tel:focus,
  .header-mail:hover,
  .header-mail:focus {
    color: var(--hover-color);
  }


  /* ----------------- hero ------------ */


  .hero {
    padding-bottom: 108px;
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
  }

  .hero-btn {
    margin-top: 40px;
  }

  .hero {
    background-image: var(--rgba), url(../images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--rgba), url(../images/hero-bg-tab-x2.jpg);
    }
  }

  .hero-content {
    max-width: 100%;
  }

  .category-suptext {
    text-align: left;
  }

  .category-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  .category-item {
  }

  .container.small-container {
    max-width: 582px;
  }

  .team {
    padding-bottom: 104px;
  }

  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }

  .main-team-item {
    width: calc((100% - 24px) / 2);
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
    width: 168px;
  }

  .customers-list {
    column-gap: 24px;
  }
  
  /* ------------------ footer --------------- */

  
.footer {
  display: flex;
  align-items: center;
}

.footer-slogan {
  align-items: flex-start;
}

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: flex-start;
    justify-content: center;
  }
  
.footer-social {
  align-items: start;
}

.footer-main-subscribe {
  justify-content: center;
  flex-shrink: 0;
  align-items: end;
  flex-direction: row;
  gap: 24px;
}

.subscribe-form {
  width: 264px;
}

.footer-subscribe {
  text-align: left;
}

}